extends layout

block content
    div.index
        div.container
            div.row
                div.col-xs-12
                    nav.navbar.navbar-inverse
                        .container-fluid
                            .navbar-header
                                a.navbar-brand(href='#') Ingeniør Fitness
                            ul.nav.navbar-nav
                                li.active
                                    a(href='/profile')
                                        span.glyphicon.glyphicon-user 
                                        |  Profile
                                li
                                    a(href='/trainingsprogram') Træningsprogram
                                li
                                    a(href='/trainingslog') Træningslog
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='#')
                                        span.glyphicon.glyphicon-log-out
                                        |  Logout  
            div.row
                div.col-xs-12.text-center.textmargin
                    h1 Tilføj ny øvelse
            div.row
                div.col-xs-4.textmargin                
                    form(action='/trainingsprogram/addnewexercise', method='post', name='addnewexercise')
                        .form-group
                            label(for='exerc') Øvelse:
                            input#exerc.form-control(type="text", name="exercise")
                        .form-group
                            label(for='desc') Beskrivelse:
                            input#desc.form-control(type="text", name="description")
                        .form-group
                            label(for='Sets') Sets:
                            input#Sets.form-control(type="text", name="setNum")
                        .form-group
                            label(for='setNum') Reps/Tid:
                            input#setNum.form-control(type="text", name="repsOrTime")       
                        .form-group
                            button(type="submit").btn.btncolor.btn-primary Tilføj øvelse