extends layout

block content
    div.index
        div.container
            div.row
                div.col-xs-12.text-center.textmargin
                    h1 Velkommen til Ingeniør Fitness
            div.row
                div.col-xs-8.col-xs-offset-2.textmargin
                    p Login eller opret bruger:
            div.row
                div.col-xs-2.col-xs-offset-4.textmargin
                    a(href='/login').btn.btncolor.btn-primary Login
                div.col-xs-2.col-xs
                    a(href='/signup').btn.btncolor.btn-primary Opret bruger
