extends layout

block content
    div.index
        div.container
            div.row
                div.col-xs-12.text-center.textmargin
                    h1 Login
            div.row
                form(action='login', method='post')
                    div.col-xs-8.col-xs-offset-2.textmargin
                        .form-group
                            label Email:
                            input.form-control(type='text', name='email')
                        .form-group
                            label Password:
                            input.form-control(type='password', name='password')
                        button.btn.btn-warning.btn-lg(type='submit') Login
            div.row
                div.col-xs-8.col-xs-offset-2.textmargin
                    hr
                    p
                    | Need an account? 
                    a(href='/signup') Signup
                    p
                    | Or go 
                    a(href='/') home
            