extends layout

block content
    div.index
        div.container
            div.row
                div.col-xs-12.text-center.textmargin
                    h1 Profile Page
            div.row
<<<<<<< HEAD
                div.col-xs-8.col-xs-offset-2
                    p Opret et træningsskema eller tjek din træningslog            
            div.row
                div.col-xs-4.col-xs-offset-2
                    a(href='/trainingsprogram').btn.btncolor.btn-primary Opret træningsprogram
                    br
                    br
                    a(href='/trainingslog').btn.btncolor.btn-primary Træningslog
                    br
                    br
                    a(href='/logout').btn.btncolor.btn-primary Logout
                    
=======
                div.col-xs-8.col-xs-offset-2.textmargin
                    p Opret et træningsskema eller tjek din træningslog
            div.row
                div.col-xs-2.col-xs-offset-4.textmargin
                    a(href='/trainingslog').btn.btncolor.btn-primary Træningslog
                div.col-xs-2.col-xs
                    a(href='/trainingsprogram').btn.btncolor.btn-primary Opret træningsprogram
            div.row
                div.col-xs-12.text-center
                    a(href='/logout').btn.btncolor.btn-primary Logout
>>>>>>> c2cbb7969b964b6b766ec807fb0e4e55e7af5956
