extends layout

block content
    div.index
        div.container
            div.row
                div.col-xs-12.text-center.textmargin
                    h1 Din profil
            div.row
                div.col-xs-12.text-center.textmargin
                    p Opret et træningsskema eller tjek din træningslog            
            div.row 
                div.col-xs-12.text-center.textmargin
                    a(href='/trainingsprogram').btn.btncolor.btn-primary Opret træningsprogram
            div.row
                div.col-xs-12.text-center.textmargin
                    a(href='/trainingslog').btn.btncolor.btn-primary Træningslog
            div.row
                div.col-xs-12.text-center.textmargin
                    a(href='/logout').btn.btncolor.btn-primary Logout